/* Body */
body {
  background-color: #343a40;
  color: aliceblue;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Navbar */
header {
  background-color: #212529;
  box-shadow: 0px 5px 5px#181b1e;
}

nav {
  display: flex;
  justify-content: space-between;
}

#projectLogo {
  width: 75px;
}

.project-logo {
  padding: 0;
  margin-left: 1.5vw;
}

/* Sidebar */
#sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 10vw;
  height: 100%;
  background: rgb(37, 41, 46);
  transition: right 0.3s ease-out;
  box-shadow: -5px 0 5px #181b1e;
}

#sidebar.show {
  right: 0;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 1vw;
}

#sidebar li:first-child {
  margin-top: 1vw;
}

#sidebar a {
  display: block;
  text-decoration: none;
  color: aliceblue;
  padding: 0.5vw;
  border-radius: 0.5vw;
  transition: background-color 0.3s ease;
}

#sidebar a:hover {
  background-color: rgb(32, 35, 39);
}

#menuButton {
  width: 3vw;
  cursor: pointer;
  padding: 0.5vw;
  margin-right: 1.5vw;
  transition: transform 0.3s ease;
}

#menuButton:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

/* Crypto field */
#marketDataTable {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 1vw;
}

#marketDataTable th,
#marketDataTable td {
  border-bottom: 1px solid aliceblue;
  padding: 12px 15px;
  text-align: left;
}

#marketDataTable th {
  font-weight: lighter;
}

/* Login */

#login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  background-color: transparent;
  padding: 2vw;
  border-radius: 5px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10vw;
  background-color: #2b3035;
}

#login-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

#passwordLabel,
#loginButton {
  margin-top: 1vw;
}

#login-form input,
#login-form input {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#login-form input:focus,
#login-form input:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #009788;
  transition: box-shadow 0.1s ease;
}

#login-form button {
  background-color: #009788;
  color: aliceblue;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#login-form button:hover {
  background-color: #017267;
}

/* Profile page */
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#profilePicture {
  width: 100px;
  height: 100px;
}

.profile-wrapper {
  margin-top: 2vw;
  margin-left: 2vw;
  background-color: #2a2f33;
  padding: 2vw;
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  box-shadow: 10px 10px 10px #181b1e;
}

.profile-information {
  width: 80%;
}
